/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-blocks-optimization-example-dynamic {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.bo-wcnpl22-grid {
	display: grid;
	gap: calc(12px);
	grid-template-columns: repeat(2, 1fr);
}